<!-- app/views/books/book_created_notification.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Selamat! Buku baru telah dibuat</h1>
    <p>
      Buku dengan judul "<%= @book.title %>" telah berhasil dibuat.
    </p>
  </body>
</html>
